.badge {
  $v: &;
  padding: 2px 15px 3px;
  font-size: 10px;
  border-radius: 50px;

  &#{$v}--default {
    background-color: $badge-default-background;
    color: $badge-default-color;
  }

  &#{$v}--red {
    background-color: $badge-red-background;
    color: $badge-red-color;
  }

  &#{$v}--top {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}