.btn {
  $v: &;
  padding: 10px 15px;
  font-size: 14px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid;
  border-color: transparent;
  &#{$v}--large {
    padding: 13px 45px;
    font-size: 16px;
  }
  &#{$v}--red {
    background-color: $button-red-background;
    color: $button-red-color;

  }
  &#{$v}--white {
    background: $button-white-background;
    color: $button-white-color;
    border-color: $button-white-border;
    .icon {
      color: $button-white-icon;
      font-size: 16px;
      vertical-align: middle;
    }
  }
}