.card {
  position: relative;
  min-height: 250px;
  margin-bottom: 20px;
  background-color: $card-background;
  border: solid 1px $card-border;
  box-shadow: 0 1px 4px $card-shadow;
  border-radius: 8px;
}