.hero {
  $v: &;
  position: relative;
  &#{$v}--home  {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center right;
  }
  &__slide {
    max-width: 520px;
    margin: 0 auto;
    @include breakpoint(small only) {
      padding: 0 40px;
    }
  }
  &__slider {
    @include flex();
    @include flex-align(center, middle);
    flex-direction: column;
    height: 625px;
    text-align: center;
  }
  &__heading {
    font-size: 42px;
    font-weight: 300;
    color: $hero-heading-color;
    @include breakpoint(small only) {
      font-size: 28px;
    }
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $hero-heading-overlay;
    opacity: .6;
  }
}