.menu {
  $v: &;
  margin: 0;
  padding: 0;
  list-style: none;

  &#{$v}--inline {
    #{$v}__list {
      display: inline-block;
    }
  }

  &#{$v}--primary {
    #{$v}__list {
      padding: 5px 15px;
    }
    #{$v}__link {
      color: $menu-primary-color;
      font-weight: 600;
      font-size: 14px;
      &.active,
      &:hover {
        color: $menu-primary-color-hover;
      }
    }
  }

  &#{$v}--choice {
    #{$v}__list {
      padding: 0 6px;
      line-height: 1;
      &:not(:last-child) {
        margin-right: -6px;
        border-right: 1px solid $menu-choice-border;
      }
    }
    #{$v}__link {
      font-weight: 600;
      font-size: 14px;
      color: $menu-choice-color;
      &.active,
      &:hover {
        color: $menu-choice-color-hover;
      }
    }
  }
  &#{$v}--footer {
    #{$v}__link {
      color: $menu-footer-color;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.mobile-menu {
  display: none;
  width: 300px;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: $mobile-menu-background;
  border-left: 1px solid $mobile-menu-border;
  transform: translateX(100%);
  transition: transform 500ms ease-out;
  overflow: auto;
  
  &.is-open {
    transform: translateX(0);
    transition: transform .3 ease-in;
  }

  @include breakpoint(medium down) {
    display: block;
  }
  ul.menu-top {
    @extend .menu;
    margin-top: 100px;
    li {
      padding: 10px 20px;
      border-bottom: 1px solid #ececec;
    }
    a {
      font-size: 24px;
      font-weight: 300;
      color: $mobile-menu-color;
    }
  }
  ul.menu-bottom {
    @extend .menu;
    margin-top: 30px;
    text-align: center;
    li {
      padding: 3px 10px;
      display: inline-block;
      line-height: 1;
      &:not(:last-child) {
        margin-right: -6px;
        border-right: 1px solid $menu-choice-border;
      }
    }
    a {
      font-weight: 600;
      font-size: 16px;
      color: $menu-choice-color;
      &.active,
      &:hover {
        color: $menu-choice-color-hover;
      }
    }
  }
  .menu-sosmed {
    text-align: center;
    padding: 20px 0;
    a {
      margin-right: 10px;
      color: $mobile-menu-color;
    }
  }
}

.burger-menu {
  $v: &;
  position: relative;
  z-index: 6;
  float: right;
  width: 28px;
  height: 28px;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: $burger-menu-color;
    border-radius: 9px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    opacity: 1;
    z-index: 999;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
  &.is-open {
    span {
      &:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
