.post {
  $v: &;
  @include flex-grid-row();
  &__image {
    margin: 0;
    img {
      border-radius: 8px 0 0 8px;
      width: auto;
      height: 230px;
      max-height: 230px;
      object-fit: cover;
    }
    &.is-scale {
      img {
        object-fit: scale-down;
      }
    }
    &.is-large {
      img {
        height: 500px;
        max-height: 500px;
      }
      @include breakpoint(small only) {
        img {
          width: 100%;
          height: 230px;
          max-height: 230px;
           border-radius: 8px 8px 0 0;
        }
      }
    }
    &.is-small {
      img {
        height: 190px;
        max-height: 190px;
      }
    }
    &.is-full {
      img {
        width: 100%;
      }
    }
  }
  &__title {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    &.is-large {
      font-size: 50px;
      line-height: 1.2;
      @include breakpoint(medium down) {
        font-size: 36px;
      }
    }
  }
  &__text {
    margin-bottom: 30px;
    @include breakpoint(medium down) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &#{$v}--side {
    @include flex-align(justify, middle);
    
    @include breakpoint(medium) {
      #{$v}__left {
        @include flex-grid-column(5, 0);
      } 
      #{$v}__right {
        @include flex-grid-column(6, 10px);
      }
    }
    @include breakpoint(small only) {
      #{$v}__left,
      #{$v}__right {
        @include flex-grid-column(12, 0);
      }
      #{$v}__right {
        padding: 40px 28px;
      }
    }
  }
  &#{$v}--stack {
    min-height: 400px;
    #{$v}__top {
      @include flex-grid-column(12, 0);
    } 
    #{$v}__bottom {
      @include flex-grid-column(12, 0);
      padding: 20px 28px;
    }
    #{$v}__image {
      img {
        border-radius: 8px 8px 0 0;
      }
    }
  }
}