.product {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  &__image {
    margin: 0 0 20px;
    @include breakpoint(small only) {
      margin: 0 60px 20px;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    color: $product-title-color;
  }
}