.footer {
  width: 100%;
  padding: 60px 0 30px;
  border-top: 1px solid $footer-border-top;
  background-image: url(../images/bg-footer.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  &__heading {
    color: #979797;
    font-size: 14px;
  }
  &__top {
    @include flex-grid-row();
    .column {
      @include flex-grid-column(2);
      @include breakpoint(medium down) {
        @include flex-grid-column(4);
      }
      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }
    }
  }
  &__bottom {
    @include flex-grid-row();
    padding: 5px 0;
    margin-top: 30px;
    &:before {
      content: '';
      border-top: 1px solid $footer-border-bottom;
      width: calc(100% - 30px);
      margin: 0 auto 10px;
    }
    .column {
      @include flex-grid-column(6);
      &:last-child {
        text-align: right;
      }
    }
    .column {
      @include flex-grid-column(6);
      &:last-child {
        text-align: right;
      }
      @include breakpoint(small only) {
        text-align: center;
        @include flex-grid-column(12);
        &:last-child {
          text-align: center;
        }
      }
    }
  }
  &__icon {
    margin-bottom: 10px;
    margin-right: 10px;
    color: $menu-footer-color;
  }
}