.header {
  background: #fff;
  &__container {
    @include flex-grid-row();
    @include flex-align(left, middle);
    height: 110px;
    @include breakpoint(medium down) {
      @include flex-align(justify, middle);
    }
  }
  &__left {
    @include flex-grid-column(2);
    @include breakpoint(medium down) {
      @include flex-grid-column(6);
    }
  }
  &__center {
    @include flex-grid-column(8);
    text-align: center;
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &__right {
    @include flex-grid-column(2);
    text-align: right;
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    @include breakpoint(medium down) {
      @include flex-grid-column(2);
      display: block;
    }
  }
}