body {
  margin: 0;
  padding: 0;
  font-family: $font-open-sans;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.section { 
  padding: 40px 0;
}