{% extends "layout/base.html" %}

{% block content %}

    <div class="hero hero--home">
        <div class="hero__overlay"></div>
        <div class="hero__slide">
            <div class="js-hero swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide hero__slider">
                        <h2 class="hero__heading">
                            Great Singapore Sale 2017 9 June - 13 August
                        </h2>
                        <a href="#" class="btn btn--large btn--red">Find a deal</a>
                    </div>
                    <div class="swiper-slide hero__slider">
                        <h2 class="hero__heading">
                            Great Singapore Sale 2017 9 June - 13 August
                        </h2>
                        <a href="#" class="btn btn--large btn--red">Find a deal</a>
                    </div>
                    <div class="swiper-slide hero__slider">
                        <h2 class="hero__heading">
                            Great Singapore Sale 2017 9 June - 13 August
                        </h2>
                        <a href="#" class="btn btn--large btn--red">Find a deal</a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    
    <div class="featured row">
        <div class="small-12 medium-4 columns">
            <div class="card product">
                <span class="badge badge--red badge--top">New</span>
                <figure class="product__image">
                    <img src="assets/images/camera.jpg">
                </figure>
                <a href="#" class="product__title">PowerShot G1 Mark II</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="card product">
                <figure class="product__image">
                    <img src="assets/images/camera.jpg">
                </figure>
                <a href="#" class="product__title">PowerShot G1 Mark II</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="card product">
                <figure class="product__image">
                    <img src="assets/images/camera.jpg">
                </figure>
                <a href="#" class="product__title">PowerShot G1 Mark II</a>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="small-12 columns">
            <div class="card post post--side">
                <span class="badge badge--red badge--top">Promotion</span>
                <div class="post__left">
                    <figure class="post__image is-large is-scale is-large">
                        <img src="assets/images/camera2.jpg">
                    </figure>
                </div>
                <div class="post__right">
                    <h2 class="post__title is-large">EOS 6D Mark II</h2>
                    <p class="post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aliquid velit. Laborum delectus nulla voluptas quidem quasi
                        excepturi hic ullam iure velit quia</p>
                    <a href="#" class="btn btn--large btn--red">View Product</a>
                </div>
            </div>
        </div>
        <div class="small-12 columns text-right">
            <a href="#" class="btn btn--white">View all products <i class="icon icon-arrow-right"></i></a>
        </div>
    </div>

    
    <div class="row section">
        <div class="small-12 columns">
            <h3 class="heading">Articles</h3>
        </div>
        <div class="small-12 columns">
            <div class="card post post--side">
                <span class="badge badge--default badge--top">Product</span>
                <div class="post__left">
                    <figure class="post__image is-large">
                        <img src="https://images.unsplash.com/photo-1500725888018-14763f9502da?auto=format&fit=crop&w=1350&q=80">
                    </figure>
                </div>
                <div class="post__right">
                    <h2 class="post__title is-large">Bringing Memories to Life with Dynamic and Pesonalised Prints.</h2>
                    <p class="post__text"><strong>20 September 2017</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aliquid velit. Laborum delectus nulla voluptas quidem quasi excepturi hic ullam iure velit quia</p>
                    <a href="#" class="btn btn--large btn--red">View Product</a>
                </div>
            </div>
        </div>

        <div class="small-12 medium-7 large-8 columns">
            <div class="card post post--stack">
                <span class="badge badge--default badge--top">Product</span>
                <div class="post__top">
                    <figure class="post__image is-full">
                        <img src="https://images.unsplash.com/photo-1500725888018-14763f9502da?auto=format&fit=crop&w=1350&q=80">
                    </figure>
                </div>
                <div class="post__bottom">
                    <h2 class="post__title">Canon PhotoMarathon 2017.</h2>
                    <p class="post__text">
                        <strong>05 September 2017</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aliquid velit. Laborum delectus nulla voluptas quidem quasi excepturi hic ullam iure velit quia
                    </p>
                </div>
            </div>
        </div>

        <div class="small-12 medium-5 large-4 columns">
            <div class="card post post--stack">
                <span class="badge badge--default badge--top">Product</span>
                <div class="post__top">
                    <figure class="post__image is-small is-full">
                        <img src="https://images.unsplash.com/photo-1500725888018-14763f9502da?auto=format&fit=crop&w=1350&q=80">
                    </figure>
                </div>
                <div class="post__bottom">
                    <h2 class="post__title">The Difference Between Vibrance and Saturation.</h2>
                    <p class="post__text">
                        <strong>05 September 2017</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="small-12 columns text-right">
            <a href="#" class="btn btn--white">View all articles <i class="icon icon-arrow-right"></i></a>
        </div>
    </div>

    <div class="row section">
        <div class="small-12 columns">
            <h3 class="heading">Events</h3>
        </div>
        <div class="small-12 columns">
            <div class="card post post--side">
                <span class="badge badge--default badge--top">Product</span>
                <div class="post__left">
                    <figure class="post__image is-large">
                        <img src="https://images.unsplash.com/photo-1500725888018-14763f9502da?auto=format&fit=crop&w=1350&q=80">
                    </figure>
                </div>
                <div class="post__right">
                    <h2 class="post__title is-large">Bringing Memories to Life with Dynamic and Pesonalised Prints.</h2>
                    <p class="post__text">
                        <strong>20 September 2017</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aliquid velit.
                        Laborum delectus nulla voluptas quidem quasi excepturi hic ullam iure velit quia</p>
                    <a href="#" class="btn btn--large btn--red">View Product</a>
                </div>
            </div>
        </div>

    
        <div class="small-12 medium-7 large-8 columns">
            <div class="card post post--stack">
                <span class="badge badge--default badge--top">Product</span>
                <div class="post__top">
                    <figure class="post__image is-full">
                        <img src="https://images.unsplash.com/photo-1500725888018-14763f9502da?auto=format&fit=crop&w=1350&q=80">
                    </figure>
                </div>
                <div class="post__bottom">
                    <h2 class="post__title">Canon PhotoMarathon 2017.</h2>
                    <p class="post__text">
                        <strong>05 September 2017</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aliquid velit.
                        Laborum delectus nulla voluptas quidem quasi excepturi hic ullam iure velit quia
                    </p>
                </div>
            </div>
        </div>
        
        <div class="small-12 medium-5 large-4 columns">
            <div class="card post post--stack">
                <span class="badge badge--default badge--top">Product</span>
                <div class="post__top">
                    <figure class="post__image is-small is-full">
                        <img src="https://images.unsplash.com/photo-1500725888018-14763f9502da?auto=format&fit=crop&w=1350&q=80">
                    </figure>
                </div>
                <div class="post__bottom">
                    <h2 class="post__title">The Difference Between Vibrance and Saturation.</h2>
                    <p class="post__text">
                        <strong>05 September 2017</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="small-12 columns text-right">
            <a href="#" class="btn btn--white">View all events <i class="icon icon-arrow-right"></i></a>
        </div>
    </div>

{% endblock %}