$font-open-sans: 'Open Sans', sans-serif;

$body-background: #fafafa;
$body-color: #363636;
$heading-color: #363636;

$menu-primary-color: #3a3a3a;
$menu-primary-color-hover: #eb1e25;
$menu-choice-color: #c9c9c9;
$menu-choice-color-hover: #eb1e25;
$menu-choice-border: #353535;
$menu-footer-color: #3a3a3a;;

$mobile-menu-background: #ffffff;
$mobile-menu-border: #eff2f7;
$mobile-menu-color: #343434;

$burger-menu-color: #3a3a3a;

$hero-heading-color: #ffffff;
$hero-heading-overlay: #000000;

$card-background: #ffffff;
$card-border: #f0f0f0;
$card-shadow: rgba(0,0,0,0.04);

$product-title-color: #363636;

$badge-default-background: #bbc0d4;
$badge-default-color: #ffffff;
$badge-red-background: #ec1d25;
$badge-red-color: #ffffff;

$button-red-background: #ec1d25;
$button-red-color: #ffffff;
$button-white-background: #ffffff;
$button-white-color: #ec1d25;
$button-white-border: #ebebeb;
$button-white-icon: #bcc3d5;

$footer-border-top: #efefef;
$footer-border-bottom: #989898;
