<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Canon Singapore</title>
    <link rel="stylesheet" href="assets/styles/style.min.css">
</head>
<body>
    <div class="mobile-menu">
        <ul class="menu-top">
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Articles</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">Courses</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Search</a>
            </li>
        </ul>
        <ul class="menu-bottom">
            <li>
                <a href="#" class="active">Products</a>
            </li>
            <li>
                <a href="#">Articles</a>
            </li>
        </ul>
        <div class="menu-sosmed">
            <a href="#">
                <i class="icon-facebook"></i>
            </a>
            <a href="#">
                <i class="icon-instagram"></i>
            </a>
            <a href="#">
                <i class="icon-youtube"></i>
            </a>
            <a href="#">
                <i class="icon-twitter"></i>
            </a>
        </div>
    </div>
    <header class="header">
        <div class="header__container">
            <div class="header__left">
                <a href="#"><img src="assets/images/logo.png"></a>
            </div>
            <div class="header__center">
                <nav>
                    <ul class="menu menu--inline menu--primary">
                        <li class="menu__list">
                            <a href="#" class="menu__link">Products</a>
                        </li>
                        <li class="menu__list">
                            <a href="#" class="menu__link">Articles</a>
                        </li>
                        <li class="menu__list">
                            <a href="#" class="menu__link">Events</a>
                        </li>
                        <li class="menu__list">
                            <a href="#" class="menu__link">Courses</a>
                        </li>
                        <li class="menu__list">
                            <a href="#" class="menu__link">Contact</a>
                        </li>
                        <li class="menu__list">
                            <a href="#" class="menu__link">Search</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__right">
                <ul class="menu menu--inline menu--choice">
                    <li class="menu__list">
                        <a href="#" class="menu__link active">Products</a>
                    </li>
                    <li class="menu__list">
                        <a href="#" class="menu__link">Articles</a>
                    </li>
                </ul>
            </div>
            <div class="header__mobile">
                <div class="js-open-menu burger-menu right">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="footer__top">
            <div class="column">
                <h3 class="footer__heading">Company</h3>
                <ul class="menu menu--footer">
                    <li class="menu__list"><a href="#" class="menu__link">About Us</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Press Room</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Terms of Use</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Privacy Policy</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Careers</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">FAQ</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="footer__heading">Products</h3>
                <ul class="menu menu--footer">
                    <li class="menu__list"><a href="#" class="menu__link">Support & Downloads</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Where to buy</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="footer__heading">Services</h3>
                <ul class="menu menu--footer">
                    <li class="menu__list"><a href="#" class="menu__link">Services &amp; Repair</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">EOS 1 Club</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Canon Profesional Club</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="footer__heading">Waranty</h3>
                <ul class="menu menu--footer">
                    <li class="menu__list"><a href="#" class="menu__link">Registration</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Product Waranty</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Information for tourist</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="footer__heading">Related Websites</h3>
                <ul class="menu menu--footer">
                    <li class="menu__list"><a href="#" class="menu__link">Microsites</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="footer__heading">Subscribe</h3>
                <a href="#"><i class="footer__icon icon-facebook"></i></a>
                <a href="#"><i class="footer__icon icon-instagram"></i></a>
                <br>
                <a href="#"><i class="footer__icon icon-youtube"></i></a>
                <a href="#"><i class="footer__icon icon-twitter"></i></a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="column">
                <span>Copyright &copy; 2017 Canon. All rigths reserved</span>
            </div>
            <div class="column">
                <span>Singapore <img src="assets/images/sg.png"></span>
            </div>
        </div>
    </footer>

    <script src="assets/scripts/app.min.js"></script>
</body>
</html>